<%- partial('common/header',{title:title,cssSrc:["common"]}) %>
<%- partial('common/layout_header',{}) %>
<!-- 页面内容 -->
<div class="container">
	<ul class="brand_list layout_dblist">
	<% brandDetailData.products.forEach(function(v){ %>
		<li>
			<a class="pic" href="/product/detail/<%= v.uuid%>"><img src=<%= v.pic_url %> alt=""></a>
			<p class="title decorate_line" data-value="<%= v.title %>"></p>
			<div class="price">
				<div class="discount">优选价:<%= v.cur_price%></div>
				<div class="original"><%= v.og_price%></div>
			</div>
			<div class="info">
				<div class="sales">已售<%= v.sales %>件</div>
				<div class="cart"><a href="javascript:;"></a></div>
			</div>
		</li>	    
	<% }) %>
	</ul>
</div>
<%- partial('common/footer',{jsSrc:["fixData"]}) %>